$padel-black: #1e1e1e;
$padel-green: #cad63a;

$padel-orange: #e96a2c;

$padel-orange-gradient: linear-gradient(
  30deg,
  #ac4722 0%,
  #cc5e26 25%,
  #e96a2c 50%,
  #cc5e26 75%,
  #ac4722 100%
);

$footer-height: 3rem;
